// this is the style sheet

html { 
  background: url("http://www.whitelily.com/assets/shared/media/favorite_chocolate_cupcakes.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }


